@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}


html {
    width: 100%;
    background-color: hsl(30, 18%, 87%);
    height: 100vh;
    font-family: 'Outfit';
}

h1, h2 {
    font-family: 'Young Serif';   
}

h1 {
    font-size: 3em;
}

h2 {
    color: hsl(332, 51%, 32%);
}

.container {
    flex: 1;
    width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.recipe-pic {
    border-radius: 20px;
}

.prep-time {
    margin-top: 10px;
    background-color: hsl(30, 18%, 87%);
    padding: 10px;

}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  th {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
